<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Moderator</title>
</head>
<body>
<h1>Greetings, <b>Administrator</b>!</h1>

<p>I would like to inform you that a <b>new moderator</b> has been<br>
registered in the system! The <u>nickname</u> of the new moderator is <b>{{ username }}</b>.<br>
You can connect with him via his email: {{ email }}
</p>

<div>
    Best wishes,<br>
    Library Alert System.
</div>


<img src="https://www.meme-arsenal.com/memes/3340ef5a5a710625d7f05fd2277bd10b.jpg" alt="#">

</body>
</html>
